{{define "content"}}

<script src="/assets/js/tools.js"></script>
<script>

checkSession();

function getSmList(ctrl)
{
	$.when(
		$.getJSON("/api/tac/ctrl/" + ctrl[0]['host'], function (smlist) {
			console.log(typeof(smlist));
			for (var id in smlist) {
				$("#" + ctrl[0]['id']).append('<p>' + id + '</p>' );
			}
	    })
	).then(function (){
		if (ctrl.length > 1)
			getSmList(ctrl.slice(1));
	});
}

function addCtrl(div, ctrl)
{
	res = '<div class="card"><div class="card-header">';
	res += '<h4 class="card-title">' + ctrl['host'] + " - "
	res += '<small class="description">'  + ctrl['id'] + '</small></h4>';
	res += '</div><div class="card-body" id="' + ctrl['id'] + '">'
	res += '</div></div>';
	$(div).append(res);
}

function getCtrl(div)
{
	$.getJSON("/api/tac/ctrl", function (data) {
      if (data == null) {
        warn('TAC CtrlList returned nothing');
        return ;
      }
      for (i = 0; i < data.length; i++) {
      	//console.log(data[i])
      	addCtrl(div, data[i])
      }
      getSmList(data);
    });
}

$(function () {

	getCtrl("#deck");

});

</script>

<div class="container-fluid">
  <div class="row">
	<div id="deck" class="card-deck" style="width: 100%">


	</div>
  </div>
</div>
{{end}}