{{define "content"}}
<script src="/assets/js/tools.js"></script>
<script>

checkSession();

rfid = "{{.Rfid}}"
login = "{{.Login}}"

function ldap_by_rfid(q_rfid, success) {
	$("#enroll_rfid").prop('disabled', true);
    $.getJSON("/api/ldap/byrfid/" + q_rfid, function (infos) {
      if (infos == null) {
        warn('LDAP Search RFID returned nothing');
        return ;
      }
      if (infos.length > 0) {
        $("#ldap_cn").text(infos[0]['cn']);
        $("#ldap_dn").text(infos[0]['dn']);
        $("#ldap_rfid").text(infos[0]['badgerfid']);
        $("#ldap_pin").text(infos[0]['badgepin']);
        if (success != null) {
   	 	  $("#enroll_rfid").prop('disabled', false);;
          success();
        }
      }
    });
}

function ldap_by_login(q_login, success) {
	$("#enroll_rfid").prop('disabled', true);
    $.getJSON("/api/ldap/bylogin/" + q_login, function (infos) {
      if (infos == null) {
        warn('LDAP Search LOGIN returned nothing');

	tac_by_email(q_login + "@", null);

        return ;
      }
      if (infos.length > 0) {
        $("#ldap_cn").text(infos[0]['cn']);
        $("#ldap_dn").text(infos[0]['dn']);
        $("#ldap_rfid").text(infos[0]['badgerfid']);
        $("#ldap_pin").text(infos[0]['badgepin']);
		if ($("#p_name").text() == "") {
		  $("#p_name").text(infos[0]['cn']);
		}
		if ($("#p_company").text() == "") {
		  $("#p_company").text(infos[0]['dn'].split(",")[1].split("=")[1]);
		}
		if ($("#p_email").text() == "") {
		  $("#p_email").text(infos[0]['alias']);
	  	  login = infos[0]['alias'].split("@")[0];
		  $("#avatar").attr("src", "{{ .Conf.PhotoUrl }}" + login);
		}
		if ($("#p_rfid").text() == "") {
		  $("#p_rfid").text(infos[0]['badgerfid']);
		}
		if (success != null) {
	 	  $("#enroll_rfid").prop('disabled', false);;
		  success();
		}
      }
    });
}

function fill_tac_data(data) {

	$.getJSON("/api/tac/user/byid/" + data['id'], function (infos) {

		tac_login = infos['email'].split("@")[0];
		if (login != "") {
			if ((tac_login != "") && (tac_login != login))
			{
				warn("TAC Login mismatch: " + login + " != " + tac_login)
				return
			}
		} else {
			login = tac_login;
		}

		$("#p_name").text(data['name']);
		$("#p_company").text(data['company']);

		$("#ca_id").text(data['id']);
		$("#ca_name").text(data['name']);
		$("#ca_company").text(data['company']);

		$("#p_email").text(infos['email']);
		$("#ca_email").text(infos['email']);
		$("#avatar").attr("src", "{{ .Conf.PhotoUrl }}" + login);

		$.getJSON("/api/tac/profile/byid/" + data['id'], function (profiles) {
		  //alert(profiles);
		  var names = profiles.map(p => p.name);
		  $("#ca_profiles").text(names.join(", "));
		});
		$.getJSON("/api/tac/tags/byid/" + data['id'], function (tags) {
		  var ids = tags.map(p => formatTag(p.id));
		  $("#ca_tags").html(ids.join(", "));
		});

	});

}

function  tac_by_email(q_email, success) {
  if (q_email.length < 4)
  {
    warn('TAC Search LOGIN is too short');
    return ;
  }
    
  $.getJSON("/api/tac/user/byemail/" + q_email, function (data) {
      if ((data == null) || (data[0]['id'] == null)) {
        warn('TAC Search LOGIN returned nothing');
        return ;
      }
      else
      {
	i = 0;
	while (data[i] != null) {
	  var j = i;
          $.getJSON("/api/tac/user/byid/" + data[i]['id'], function (infos) {
            if (infos['email'].substring(0, q_email.length) == q_email) {
              fill_tac_data(data[j]);
            }
	  });
          i++;
	}
	if (success != null) {
	  success();
	}
      }
  });
}

function  tac_by_rfid(q_rfid, success) {
    $.getJSON("/api/tac/user/byrfid/" + q_rfid, function (data) {
      if ((data == null) || (data['id'] == null)) {
        warn('TAC Search RFID returned nothing');
        return ;
      }
      else
      {
        fill_tac_data(data);
		if (success != null) {
	  		success();
		}
      }
  });
}

function l(l) {
  $("#auto").html("");
  $("#login").val(l);
  submitForm();
}

function auto_complete_sort(a, b) {
  f = 'cn';
  return (a[f] == b[f] ? 0 : (a[f] > b[f] ? 1 : -1));
}

function auto_complete(q) {

  if (q.length < 5) {
    $("#auto").html("need more chars to complete <b>" + q + "</b>");
    return ;
  }

  $.getJSON("/api/ldap/autocomplete/" + q, function (data) {
    if (data != null) {
      data.sort(auto_complete_sort);
      $("#auto").html("");
      for (i = 0; data[i] != null; i++) {
        tmp = data[i]['dn'].split(",")[0].split("=")[1];
        $("#auto").append("<span onclick=\"l('" + tmp + "')\">" + data[i]['cn'] + " <b>" + data[i]['dn'] + "</b></span><br />\n");
      }
    }
    else
    {
	$("#auto").html("no match for <b>" + q + "</b>");
    }
  }).fail(function() {
    $("#auto").html("query failed for <b>" + q + "</b>");
  });
}

$(function () {

  $("#enroll_rfid").keydown(function(e) {
    if (e.which == 13)
    {
      e.preventDefault();
      e.stopPropagation();

      e_login = $("#login").val().trim();
      e_rfid = $("#enroll_rfid").val().trim();

      $("#enroll_rfid").focus();
      $("#enroll_rfid").select();


      if (e_login == "")
      {
      	warn('Empty login');
      	return false
      }
      if (e_rfid.length != 10)
      {
      	warn('Invalid RFID ' + e_rfid);
      	return false
      }

      $.get("/api/ldap/enroll/" + e_login + "/" + e_rfid, function (data) {
	      info("update " + e_login + ".rfid = " + e_rfid);
	      setTimeout(function(){ document.location.href = "/profile/login/" + $("#login").val().trim(); }, 1000)
	      
      }).fail(
       function () {
      	warn("update failed");
      });

    }
  });
  
  $(".form-control").keypress(function(e) {
    if (e.which == 13)
    {
      e.preventDefault();
      submitForm();
    }
    return true;
  });
  
  $("#login").keyup(function(e) {
    {
      if (e.which != 13) {
        // auto complete
        v = $("#login").val().trim();
	    auto_complete(v);
      }
    }
    return true;
  });

  if (login != "") {
    ldap_by_login(login, function () {
      rfid = $("#ldap_rfid").text();
      if (rfid != "") {
        tac_by_rfid(rfid, null);
      }
    });
  }

  if (rfid != "") {
    $("#p_rfid").text(rfid);
    tac_by_rfid(rfid, null);
    ldap_by_rfid(rfid, null);
  }


});

function submitForm() {
  if ($("#login").val() != "")
    document.location.href = "/profile/login/" + $("#login").val().trim();
  else
    document.location.href = "/profile/rfid/" + $("#rfid").val().trim();
}


</script>

<div class="container-fluid">

  <!-- 1ERE LIGNE -->

  <div class="row">

    <!-- search panel -->

    <div class="col-md-6">
      <div class="card">
      	<div class="card-header card-header-icon card-header-primary">
		  <div class="card-icon">
		    <i class="material-icons">search</i>
		  </div>
		  <h4 class="card-title">Search</h4>
		</div>
		<div class="card-body">
		  <form id="search_form" method="get" action="/profile">
		    <div class="form-group bmd-form-group">
              <label class="bmd-label-floating">RFID</label>
		      <input id="rfid" type="text" class="form-control" value="{{.Rfid}}" />
		    </div>
		    <div class="form-group bmd-form-group">
              <label class="bmd-label-floating">LOGIN</label>
		      <input id="login" type="text" class="form-control" value="{{.Login}}" autocomplete="off" />
		    </div>
		  </form>
		  <p id="auto" style="cursor: pointer;"></p>
		</div>
      </div>
    </div>

    <!-- info panel -->

    <div class="col-md-6">
      <div class="card card-profile">
        <div class="card-avatar">
	  <img id="avatar" class="img" src="/assets/img/faces/john.jpg">
	</div>
	<div class="card-body">
	  <!-- name -->
	  <div class="input-group">
	    <div class="input-group-prepend">
	      <span class="input-group-text">
 	        <i class="material-icons">face</i>
              </span>
	    </div>
	    <span id="p_name"></span>
	  </div>
	  <!-- company -->
	  <div class="input-group">
	    <div class="input-group-prepend">
	      <span class="input-group-text">
 	        <i class="material-icons">business</i>
              </span>
	    </div>
	    <span id="p_company"></span>
	  </div>
	  <!-- email -->
	  <div class="input-group">
	    <div class="input-group-prepend">
	      <span class="input-group-text"><i class="material-icons">email</i></span>
	    </div>
	    <span id="p_email"></span>
	  </div>
	  <!-- rfid -->
	  <div class="input-group">
	    <div class="input-group-prepend">
	      <span class="input-group-text"><i class="material-icons">credit_card</i></span>
	    </div>
	    <span id="p_rfid"></span>
	  </div>
	</div>
      </div>
    </div>
  </div>

  <!-- 2EME LIGNE -->

  <div class="row">
  
  <!-- reponses du CA -->
  
    <div class="col-md-6">
      <div class="card">
      	<div class="card-header card-header-icon card-header-primary">
	  <div class="card-icon">
	    <i class="material-icons">credit_card</i>
	  </div>
	  <h4 class="card-title">TAC</h4>
	</div>
	<div class="card-body">
	  <!-- TAC name -->
	  <div class="input-group">
	    <div class="input-group-prepend">
	      <span class="input-group-text">
 	        <i class="material-icons">face</i>
              </span>
	    </div>
	    <span id="ca_name"></span>
	  </div>
	  <!-- TAC company -->
	  <div class="input-group">
	    <div class="input-group-prepend">
	      <span class="input-group-text">
 	        <i class="material-icons">business</i>
              </span>
	    </div>
	    <span id="ca_company"></span>
	  </div>
	  <!-- TAC id -->
	  <div class="input-group">
	    <div class="input-group-prepend">
	      <span class="input-group-text">
 	        <i class="material-icons">list_alt</i>
              </span>
	    </div>
	    <span id="ca_id"></span>
	  </div>
	  <!-- TAC email -->
	  <div class="input-group">
	    <div class="input-group-prepend">
	      <span class="input-group-text"><i class="material-icons">email</i></span>
	    </div>
	    <span id="ca_email"></span>
	  </div>
	  <!-- TAC profiles -->
	  <div class="input-group">
	    <div class="input-group-prepend">
	      <span class="input-group-text"><i class="material-icons">meeting_room</i></span>
	    </div>
	    <span id="ca_profiles"></span>
	  </div>
	  <!-- TAC tags -->
	  <div class="input-group">
	    <div class="input-group-prepend">
	      <span class="input-group-text"><i class="material-icons">credit_card</i></span>
	    </div>
	    <span id="ca_tags"></span>
	  </div>
	</div>
      </div>
    </div>

<!-- reponses du LDAP -->

    <div class="col-md-6">
      <div class="card">
      	<div class="card-header card-header-icon card-header-primary">
		  <div class="card-icon">
		    <i class="material-icons">storage</i>
		  </div>
		  <h4 class="card-title">LDAP</h4>
		</div>
		<div class="card-body">
		  <!-- LDAP cn -->
		  <div class="input-group">
		    <div class="input-group-prepend">
		      <span class="input-group-text">
	 	        <i class="material-icons">face</i>
	          </span>
		    </div>
		    <span id="ldap_cn"></span>
		  </div>
		  <!-- LDAP dn -->
		  <div class="input-group">
		    <div class="input-group-prepend">
		      <span class="input-group-text">
	 	        <i class="material-icons">list_alt</i>
              </span>
		    </div>
		    <span id="ldap_dn"></span>
		  </div>
		  <!-- LDAP rfid -->
		  <div class="input-group">
		    <div class="input-group-prepend">
		      <span class="input-group-text">
	 	        <i class="material-icons">credit_card</i>
              </span>
		    </div>
		    <span id="ldap_rfid"></span>
		  </div>
		  <!-- LDAP pin -->
		  <div class="input-group">
		    <div class="input-group-prepend">
		      <span class="input-group-text">
	 	        <i class="material-icons">fiber_pin</i>
              </span>
		    </div>
		    <span id="ldap_pin"></span>
		  </div>
		</div>
      </div>
    </div>
  </div>

  <!-- 3EME LIGNE -->

  <div class="row">

    <!-- update ldap rfid panel -->

    <div class="col-md-12">
      <div class="card">
      	<div class="card-header card-header-icon card-header-primary">
		  <div class="card-icon">
		    <i class="material-icons">how_to_reg</i>
		  </div>
		  <h4 class="card-title">Update LDAP RFID</h4>
		</div>
		<div class="card-body">
		  <form>
		    <div class="form-group bmd-form-group">
              <label class="bmd-label-floating">RFID</label>
		      <input id="enroll_rfid" type="text" class="form-control" disabled />
		    </div>
		  </form>
		</div>
      </div>
    </div>

  </div>

</div>
{{end}}